* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url('./imagens/imgRG_page-0001.jpg');
    color: whitesmoke;
    background-size: 230vh 110vh;
    align-items: center;
    user-select: none;
}

.container {
    display: flex;
    flex-direction: column;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: space-evenly;
    text-align:center;
    background-color: #00000080;
}

.title {
    font-size: 24px;
    width: 60vw;
    height: 70vh;
    font-family: 'Poppins';
    color: rgb(254, 255, 238);
}

.title p {
    font-size: 24px;
    font-family: 'Poppins';
}

.countdown {
    display: flex;
    width: 60vw;
    justify-content: space-between;
    font-family: 'Poppins';
}   